{% extends 'layouts/base.html' %}

{% block content %}

<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-auto">
            <div class="card border-dark" style="width: 30rem;">
                <!------
                        <div class="card-header text-center">
                            <label class="col col-form-label fw-bold"> REGISTRO DE VENTA </label>
                        </div>-->

                <div class="card-body">
                    <div class="container py-5">
                        <select class="form-select text-center" aria-label="Default select example">
                            <option selected> SERVICIO SOLICITADO </option>
                        </select>
                    </div>

                    <div class="container py-5">
                        <select class="form-select text-center" aria-label="Default select example">
                            <option selected> TIPO DE EQUIPO </option>
                        </select>
                    </div>

                    <div class="card-footer text-center py-3">
                        <button class="btn btn-success">ACEPTAR</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}