{% extends 'layouts/base.html' %}

{% block content %}

<div class="container-md py-5">
    <div class="row-fluid justify-content-center">
        <div class="card border-dark">
            <div class="card-header text-center fw-bold">PANEL DE GESTIÓN</div>

            <div class="card-body">
                <table class="table table-hover table-striped text-center">
                    <tbody class="align-middle">
                        <tr>
                            <th>Gestión de Usuarios</th>
                            
                            <td>
                                <a class="btn btn-outline-primary" href="{% url 'usuarios' %}">Mostrar</a>

                                <button id="agregarUsuarios" class="btn btn-outline-success">
                                    <i class="bi bi-plus"></i> Agregar
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <th>Gestión de Servicios</th>
                            
                            <td>
                                <a class="btn btn-outline-primary" href="{% url 'servicios' %}">Mostrar</a>

                                <button id="agregarServicios" class="btn btn-outline-success">
                                    <i class="bi bi-plus"></i> Agregar
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <th>Gestión de Tipos de Equipos</th>
                            
                            <td>
                                <a class="btn btn-outline-primary" href="{% url 'tipos_equipos' %}">Mostrar</a>
                                
                                <button id="agregarTipo" class="btn btn-outline-success">
                                    <i class="bi bi-plus"></i> Agregar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
